/assets/dataset
/assets/checkpoint
/assets/train
/**/__pycache__
/**/*.egg-info
/*.wav
/assets/raw_dataset
/assets/raw_dataset_resample
/assets/model/vocoder/generator_v1
/assets/executable
/assets/validation
/assets/exports
